#data-container main {
  padding: 0 4rem 2rem 5rem;

  overflow: auto;
  overflow-x: hidden;
}

#data-container main section {
  scroll-margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  padding-bottom: 1.6rem;
  border-radius: 1rem;
  background-color: var(--main-color0);
  border: 1px solid var(--section-border-color);
  transition: transform 500ms ease;
}

#data-container main section:hover {
  transform: scale(1.02);
  transition: transform 100ms ease;
}

#main-title h1 {
  text-align: center;
  font-size: 2rem;
  display: block;

  transition: bottom 500ms ease, font-size 500ms ease;
}

#main-title {
  margin: 2.8rem;
  height: 0;
  overflow: hidden;
  padding: 2.4rem 0;

  display: none;

  transition: margin 500ms ease, padding 500ms ease, height 500ms ease;
}

#special-subtitle {
  display: none;
}

#main-title-desktop {
  margin: 1.2rem;
  margin-bottom: 2.8rem;
  height: 0;
  overflow: hidden;
  padding: 4.6rem 0;
}

#main-title-desktop h1 {
  text-align: center;
  font-size: 2rem;
  display: block;
}

#main-title-desktop h3 {
  text-align: center;
  display: block;
}

#data-container main section h2 {
  margin-bottom: 0.8rem;
  color: var(--font-color0);
  font-size: 1.5rem;
}

#data-container main section p {
  margin-bottom: 0.4rem;
  line-height: 1.5;
  text-align: justify;
  user-select: text;
}

#data-container main section a {
  user-select: text;
}

#section-header {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
}
