.nav-content {
  width: 100%;
  height: 100%;
  position: relative;

  overflow: auto;

  display: flex;
  flex-direction: column;
}

.nav-content button {
  display: flex;
  flex-direction: row;

  width: 100%;

  font-weight: 800;
  color: var(--font-color0);
  cursor: pointer;

  padding: 1rem 1rem 1rem 2rem;
  background-color: transparent;
  border-radius: 0 0.8rem 0.8rem 0;
}

.nav-content button:hover {
  background-color: var(--main-color1);
}

.nav-content button:active {
  position: relative;
  top: 0.2rem;
}

.nav-content button {
  text-align: left;
  width: 100%;
}

.nav-content button span {
  width: max-content;
  display: flex;
  font-size: 1.1rem;
}

.nav-profile {
  background-color: var(--main-color2);
  padding: 0.4rem 0.4rem 0 0;

  border-radius: 0 1.2rem 1.2rem 0;

  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  cursor: pointer;
}

.nav-profile img {
  width: 100%;
  border-radius: 0 0.8rem 0.8rem 0;
  transition: filter 200ms;
}

.nav-profile:hover img {
  filter: brightness(1.2);
}

.nav-profile:active img {
  filter: brightness(0.8);
}

.nav-profile div {
  width: max-content;
  margin: auto;
  padding: 1rem;

  color: var(--font-color0);
}

.nav-profile div h2 {
  font-size: 1.2rem;
}

.nav-profile-title {
  font-size: 1.6rem;
  margin: auto 0 auto 0;
  font-weight: 800;
}

#sidebar-nav footer {
  font-size: 0.8rem;
  text-align: center;
}

#section-header-profile {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
}
